.col {
  padding-top: 5em;
  height: 20em;
}

.col h1,
.col h2,
.col p {
  color: #fff;
  margin-left: -8em;
}

.card {
  border-style: none;
}

.card-body p {
  color: #000;
  font-size: small;
  text-align: center;
  justify-content: center;
}

